# 非必填，应用端口，默认80
# port: 80

# 必填，本应用接口调用token
verify_token: custom_token

# 必填，apisix admin host
apisix_host: http://apisix:9180
apisix_token: '******'
apisix_version: ''

# 必填，将自身服务注册到apisix的地址
self_apisix_host: http://apisix-acme:80
apisix_api_prefix: apisix_acme

# 必填，证书申请使用，证书快过期时会发送邮件
acme_mail: 'mail@example.com'

# 非必填，添加自身路由和临时路由的默认优先级
# route_priority: 999

# 非必填，钉钉token(关键词apisix-acme)，用于发送一些通知，可不配置
# ding_ding_token: ''

# 非必填，自动续期时间，单位天
# renew_day: 30

# 非必填，定时任务，默认 0 0 1 * * *
# renew_cron: '0 0 1 * * *'

# 非必填，acme.sh 环境变量设置
# acme_env:
#   DOH_USE: 3

# 非必填，acme.sh 环境参数配置
# acme_param:
#   - '--debug 2 --server zerossl'

# 非必填，单域名(DNS验证，文件验证)，泛域名（DNS验证）。只用到单域名证书申请时可不配置
# dns_api:
#   - domain: example-1.com
#     dns: dns_ali
#     env: 
#       Ali_Key: xxx
#       Ali_Secret: xxx
#   - domain: example-2.com
#     dns: dns_dp
#     env: 
#       DP_Id: xxx
#       DP_Key: xxx
