<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>APISIX ACME TOOL</title>
    <style>
      form {
        display: inline-block;
      }
      label {
        display: block;
        margin-bottom: 0.5em;
      }
      label span {
        display: inline-block;
        width: 100px;
      }
      label input {
        display: inline-block;
        width: 400px;
      }
      label input[type='checkbox'] {
        width: auto;
        margin: 0;
      }
      ul {
        display: inline-block;
        margin: 0;
        vertical-align: top;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <form @submit.prevent="submit">
        <label>
          <span>APIURL</span>
          <input type="text" required v-model="state.url" />
        </label>
        <label>
          <span>校验Token</span>
          <input type="text" required v-model="state.verifyToken" />
        </label>
        <label>
          <span>申请域名</span>
          <input type="text" required v-model="state.domain" />
        </label>
        <label>
          <span>邮箱</span>
          <input type="text" v-model="state.acmeMail" />
        </label>
        <label>
          <span>强制提交</span>
          <input type="checkbox" v-model="state.force" />
        </label>
        <input type="submit" :value="state.loading?'请求中':'提交'" :disabled="state.loading" />
      </form>
      <ul>
        <li v-for="item in state.result">{{item}}</li>
      </ul>
    </div>
    <script src="https://registry.npmmirror.com/axios/0.27.2/files/dist/axios.min.js"></script>
    <script type="module">
      import { createApp, reactive } from 'https://registry.npmmirror.com/vue/3.2.37/files/dist/vue.esm-browser.prod.js'
      const app = createApp({
        setup() {
          const state = reactive({
            loading: false,
            url: location.origin + location.pathname.replace("/tool.html", "") + '/task_create',
            verifyToken: localStorage.getItem('verifyToken'),
            domain: localStorage.getItem('domain'),
            acmeMail: localStorage.getItem('acmeMail'),
            force: false,
            result: ['等待提交']
          })

          const submit = async () => {
            state.loading = true
            localStorage.setItem("domain", state.domain)
            localStorage.setItem("verifyToken", state.verifyToken)
            localStorage.setItem("acmeMail", state.acmeMail)
            await axios
              .request({
                method: 'POST',
                url: state.url,
                headers: {
                  'VERIFY-TOKEN': state.verifyToken
                },
                data: {
                  domain: state.domain,
                  mail: state.acmeMail,
                  force: state.force,
                  serviceList: []
                }
              })
              .then(res => {
                state.result.push(JSON.stringify(res.data))
              })
              .catch(err => {
                state.result.push(err.message)
              })
            state.force = false
            state.loading = false
          }
          return { state, submit }
        }
      }).mount('#app')
    </script>
  </body>
</html>
